{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "targets": {
          "browsers": ["> 1%"]
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
