@import 'variables.scss';

$color-about: rgb(56, 160, 192); 
$color-about-graphic-heading: rgb(74, 213, 255); 

.section_about {
  //background: #3f94ff;
  background: $color-about;
  //color: white;
}

p.large {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 4.9rem;
  margin-top:0;
  margin-bottom: 16px;
  color: $color-about;
  line-height: unset;
}

p.medium {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 2rem;
  color: $grey;
  margin-top:0;
  margin-bottom: 14px;
  line-height: unset;
}

.section__content_about {
  background: white;
  padding: 100px;
  font-weight: 400;
}

.about__tagline {
  font-weight: 400;
  font-size: 1.5rem;
  color: $grey;
  text-align: center;
  margin-top: 20px;
}

.about__skill-heading {
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.about__skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-top: 26px;
  margin-bottom: -24px;
}

.about__skill {
  text-align: center;
  min-width: 130px;
  min-height: 140px;
  flex: 1;

  img {
    height: 80px;
    margin-bottom: 8px;
  }
}

.about__skill:empty {
  min-height: 0;
  height: 0;
}

.section__content_about .graphic-heading_front {
  background: $color-about-graphic-heading;
}