@import 'variables.scss';

//$color-about-background: #004967;// #003654;//rgb(56, 160, 192);
//$color-about-graphic-heading: rgb(62, 202, 255); //rgb(74, 213, 255);

.section_about {
  //background: #3f94ff;
  background: $color-about-background;
  //color: white;
}

.about-art-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.about-art {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: auto 100%;
  background-position: center center;
}

.about-art_background {
  background-color: $color-about-background; // because mix-blend-mode doesn't work on top elements with position:fixed
}

.about-art_light {
  background-image: url('../../public/images/light.svg');
  mix-blend-mode: soft-light;
}

.about-art_thought-bubbles {
  background-image: url('../../public/images/thought-bubbles.svg');
}

.about-art_bottom {
  background-image: url('../../public/images/about-bottom.svg');
}

#about__anim {
  width: fit-content;
  height: 100%;
  margin: auto;
  // position: absolute;
}

p.large {
  font-family: $title-font;
  font-weight: 300;
  font-size: 4.9rem;
  margin-top: 0;
  margin-bottom: 16px;
  color: $blue;
  line-height: unset;
}

p.medium {
  font-family: $title-font;
  font-weight: 300;
  font-size: 2rem;
  color: $grey;
  margin-top: 0;
  margin-bottom: 14px;
  line-height: unset;
}

.section__content_about {
  background: white;
  font-weight: 400;
}

.about__tagline {
  font-weight: 400;
  font-size: 1.5rem;
  color: $grey;
  text-align: center;
  margin-top: 20px;
}

.about__skill-heading {
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.about__skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-top: 26px;
  margin-bottom: -24px;
}

.about__skill {
  text-align: center;
  min-width: 130px;
  min-height: 140px;
  flex: 1;

  img {
    height: 80px;
    margin-bottom: 8px;
  }
}

.about__skill:empty {
  min-height: 0;
  height: 0;
}

// .section__content_about .graphic-heading_front {
//   background: $color-about-graphic-heading;
// }

@media (max-width: $mobile-max-width) {
  p.large {
    font-size: 3.6rem;
  }

  p.medium {
    font-size: 1.7rem;
  }
}
