@import 'variables.scss';

$color-contact: #3cc26c;

// .section__sidebar_contact {
//   background: $color-about-background; //$color-contact;
// }

#contact {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;

  // &::after {
  //   content: '';
  //   background-image: url(../../public/images/mail.svg);
  //   background-repeat: repeat;
  //   background-size: 100px;
  //   opacity: 0.04;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   z-index: -1;
  // }
}

.contact__heading {
  font-family: $title-font;
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  color: $blue;
  margin: 0;
  opacity: 1;
  transform: none;
  transition: all 0.6s;

  &.enter-anim_hidden {
    opacity: 0;
    transform: translateY(12px);
  }
}

.contact__hr {
  width: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
  height: 10px;
  background: $blue;
  border: none;
  transform: skew(22deg) scale(1, 1);
  transition: transform 0.6s cubic-bezier(0.73, 0.02, 0.52, 1.67) 0.2s;

  &.enter-anim_hidden {
    transform: skew(0) scale(0, 1);
  }
}

#contact p.medium {
  transition-delay: 0.3s;
}

#contact p {
  transition-delay: 0.3s;
}

#contact__email {
  font-size: 3rem;
  color: $orange;
  margin-top: 10px;
  font-family: $title-font;
  font-weight: 300;
}

$blue: rgb(47, 152, 194);
$light-blue-1: rgb(97, 203, 245);
$light-blue-2: rgb(140, 219, 250);
$dark-blue-1: rgb(54, 107, 128);
$dark-blue-2: rgb(23, 102, 133);

.triangle-container {
  position: absolute;
}

.triangle {
  // width: 0;
  // height: 0;
  // border-style: solid;
  // border-width: 0 243px 228px 0; //0 117px 164px 0;
  // border-color: transparent $blue transparent transparent;
  // position: absolute;
  width: 120px;
  height: 120px;
}

@for $i from 1 through 14 {
  .triangle-container:nth-of-type(#{$i}) {
    @if $i < 8 {
      left: random() * -100px;
      top: ($i - 1) * 180px;
    } @else {
      right: random() * -100px;
      top: ($i - 8) * 180px;
    }
    .triangle {
      @if $i % 2 == 0 {
        background-color: darken($blue, random() * 20%);
        transform: rotate(45deg) scale(0.7);
      } @else {
        background-color: lighten($blue, random() * 20%);
        transform: rotate(45deg) scale(1.2);
      }
    }
  }
}

@media (max-width: $stacked-sections-max-width), (max-height: $stacked-sections-max-height) {
  .section__content_contact {
    height: auto;
    min-height: 100vh;
  }
}
