@import 'variables.scss';

$color-contact: #3cc26c;

#contact {
  text-align: center;
  height: calc(100vh - #{$nav-height});
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;

  // airmail border - adapted from https://codepen.io/seyedi/pen/jWKEqb
  // padding: 30px;
  // border: 13px solid transparent;
  // background: linear-gradient(white, white) padding-box,
  //   repeating-linear-gradient(-45deg, $orange 0, $orange 12.5%, white 0, white 25%, $blue 0, $blue 37.5%, white 0, white 50%) 0 / 140px 140px;
}

.contact__heading {
  font-family: $title-font;
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  color: $blue;
  margin: 0;
  opacity: 1;
  transform: none;
  transition: all 0.6s;

  &.enter-anim_hidden {
    opacity: 0;
    transform: translateY(12px);
  }
}

.contact__hr {
  width: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
  height: 10px;
  background: $blue;
  border: none;
  transform: skew(22deg) scale(1, 1);
  transition: transform 0.6s cubic-bezier(0.73, 0.02, 0.52, 1.67) 0.2s;

  &.enter-anim_hidden {
    transform: skew(0) scale(0, 1);
  }
}

#contact p.medium {
  transition-delay: 0.3s;
}

#contact p {
  transition-delay: 0.3s;
}

#contact__email {
  font-size: 2.5rem;
  color: $blue;
  margin-top: 10px;
  font-family: $title-font;
  font-weight: 300;
}

.contact-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-link {
  margin: 14px 36px;
  $link: &;

  a {
    text-decoration: unset;
    display: block;
    width: 100%;
    height: 100%;
  }

  svg {
    opacity: 0.8;
    transition: all 1s;

    circle,
    path,
    polygon {
      // stroke: $blue;
      // fill: white;
      transition: all 0.3s;
      //stroke-width: 1px;
      stroke: $blue;
    }
  }

  &:hover svg circle,
  &:hover svg path,
  &:hover svg polygon {
    stroke: white;
    fill: $blue;
  }
}

.contact-link__title {
  font-family: $title-font;
  color: $blue;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 16px;
}

.contact-link__text {
  color: $black;
  margin-top: 16px;
  font-size: 1.2rem;
  border-bottom: 1px solid $blue;
}

svg#email-image:hover {
  // circle {
  //   stroke: white;
  //   fill: $blue;
  // }
  // path
}

$blue: rgb(47, 152, 194);
$light-blue-1: rgb(97, 203, 245);
$light-blue-2: rgb(140, 219, 250);
$dark-blue-1: rgb(54, 107, 128);
$dark-blue-2: rgb(23, 102, 133);

.triangle-container {
  position: absolute;
}

.triangle {
  // width: 0;
  // height: 0;
  // border-style: solid;
  // border-width: 0 243px 228px 0; //0 117px 164px 0;
  // border-color: transparent $blue transparent transparent;
  // position: absolute;
  width: 120px;
  height: 120px;
}

@for $i from 1 through 14 {
  .triangle-container:nth-of-type(#{$i}) {
    @if $i < 8 {
      left: random() * -100px;
      top: ($i - 1) * 180px;
    } @else {
      right: random() * -100px;
      top: ($i - 8) * 180px;
    }
    .triangle {
      @if $i % 2 == 0 {
        background-color: darken($blue, random() * 20%);
        transform: rotate(45deg) scale(0.7);
      } @else {
        background-color: lighten($blue, random() * 20%);
        transform: rotate(45deg) scale(1.2);
      }
    }
  }
}

@media (max-width: $stacked-sections-max-width), (max-height: $stacked-sections-max-height) {
  .section__content_contact {
    height: auto;
    min-height: calc(100vh - #{$nav-height});
  }
}
