@import 'variables.scss';

$color-contact: #3cc26c;

// .section__sidebar_contact {
//   background: $color-about-background; //$color-contact;
// }

#contact {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact__heading {
  font-family: $title-font;
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  color: $blue;
  margin: 0;
  opacity: 1;
  transform: none;
  transition: all 0.6s;

  &.enter-anim_hidden {
    opacity: 0;
    transform: translateY(12px);
  }
}

.contact__hr {
  width: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
  height: 10px;
  background: $blue;
  border: none;
  transform: skew(22deg) scale(1, 1);
  transition: transform 0.6s cubic-bezier(0.73, 0.02, 0.52, 1.67) 0.2s;

  &.enter-anim_hidden {
    transform: skew(0) scale(0, 1);
  }
}

#contact p.medium {
  transition-delay: 0.3s;
}

#contact p {
  transition-delay: 0.3s;
}

#contact__email {
  font-size: 3rem;
  color: $orange;
  margin-top: 10px;
  font-family: $title-font;
  font-weight: 300;
}

@media (max-width: $stacked-sections-max-width), (max-height: $stacked-sections-max-height) {
  .section__content_contact {
    height: auto;
    min-height: 100vh;
  }
}
