@import "variables.scss";

body {
  font-family: "Open Sans", sans-serif;
  color: $black;
}

// html{
//   overflow: hidden;
//   height: 100%;
// }
// body{
//   overflow: auto;
//   height: 100%;
// }

.page {
  position: relative;
}

p,
li {
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.2rem;

  a {
    color: inherit;
    font-weight: 400;
  }
}

// before enter anim
p.enter-anim_hidden {
  opacity: 0;
  transform: translateY(12px);
}
// after enter anim
p {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s;
}

button {
  cursor: pointer;
  font-family: $title-font;
}

// h2 {
//   font-family: 'Roboto Slab', serif;
//   font-weight: 300;
//   font-size: 5rem;
//   margin-top:0;
//   margin-bottom: 16px;
// }

h3 {
  font-family: $title-font, serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: $grey;
  margin-top: 0;
  margin-bottom: 14px;
  line-height: 1.2;
}

.section {
  width: 100%;
  z-index: 1;
  position: relative;
  // border-bottom: 2px solid $black;
}

.section__sidebar {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  color: white;
  overflow: hidden;
}

.section__sidebar_fixed {
  position: fixed;
  top: 0;
}

.section__content {
  position: relative;
  width: 50%;
  left: 50%;
}

.subsection {
  padding: 100px;
}

.heading-with-text {
  margin-bottom: 64px;
}

.heading-with-text:last-of-type {
  margin-bottom: 0;
}

.graphic-heading-container {
  position: relative;
}

.graphic-heading {
  //margin: 50px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.8s;
  //will-change: transform;
  outline: 1px solid transparent; //hack to prevent aliasing in firefox
}

.graphic-heading_back {
  background: $grey-light;
}

.graphic-heading_front {
  top: 0;
  left: 0;
  background-color: $blue;
}
// before enter anim
.graphic-heading-container.enter-anim_hidden {
  .graphic-heading_back {
    transform: skew(6deg) rotate(-1deg) translate(4px, 0) scale(0, 1);
  }

  .graphic-heading_front {
    transform: skew(6deg) rotate(1deg) translate(-4px, 0) scale(0, 1);
  }
}
//after enter anim
.graphic-heading-container {
  .graphic-heading_back {
    transform: skew(6deg) rotate(-1deg) translate(4px, 0) scale(1, 1);
  }

  .graphic-heading_front {
    transform: skew(6deg) rotate(1deg) translate(-4px, 0) scale(1, 1);
  }
}

// .graphic-heading_scrolling.graphic-heading_back {
//   transform: skew(6deg) rotate(-1deg) translate(8px, 4px);
//   transition: transform 0.3s;
// }

// .graphic-heading_scrolling.graphic-heading_front {
//   transform: skew(6deg) rotate(1deg) translate(-8px, -4px);
//   transition: transform 0.3s;
// }

.graphic-heading__text {
  position: relative;
  display: inline-block;
  color: white;
  margin: 0;
  padding: 8px 16px;
  width: auto;
}

.graphic-heading-color-container {
  position: relative;
}

.next-section-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: $orange;
  position: fixed;
  z-index: 99;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.4);
}

@media (max-width: $stacked-sections-max-width),
  (max-height: $stacked-sections-max-height) {
  .section__sidebar {
    position: relative;
    margin: auto;
    width: auto;
  }

  .section__content {
    width: 100%;
    left: 0;
  }
}

@media (max-width: $mobile-max-width) {
  html {
    font-size: 0.9rem;
  }

  .subsection {
    padding: 60px 40px;
  }
}
