@import 'variables.scss';

body {
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: $black;
  overflow-x: hidden;
}

.preloader__wall {
  background: $blue;
  outline: solid 1px $blue;
  position: fixed;
  width: 50%;
  height: 100%;
  transition: transform 0.7s 0.2s;
  z-index: 100;

  &--left {
    left: -50%;
    transform: translateX(100%);
  }

  &--right {
    right: -50%;
    transform: translateX(-100%);
  }
}

.preloader__spinner {
  animation: spin 1.2s linear infinite;
  border: 6px solid white;
  border-radius: 50%;
  border-top: 6px solid $orange;
  position: fixed;
  width: 60px;
  height: 60px;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  z-index: 100;
}

.preloader--finished {
  .preloader__wall {
    transform: none;
    outline: none;
  }

  .preloader__spinner {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.page {
  position: relative;
}

p,
li {
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.2rem;
  transform: none;
  opacity: 1;
  transition: all 0.6s;

  a {
    color: inherit;
    font-weight: 400;
  }
}

// before enter anim
li.enter-anim--hidden {
  opacity: 0;
  transform: translateX(-12px);
}

// gives each about__skill an increasingly higher transition-delay
@for $i from 1 through 10 {
  li:nth-child(#{$i}n) {
    transition-delay: #{$i * 125}ms;
  }
}

// before enter anim
p.enter-anim--hidden {
  opacity: 0;
  transform: translateY(12px);
}

button {
  cursor: pointer;
  font-family: $title-font;

  body:not(.user-is-tabbing) &:focus {
    outline: none;
  }
}

h3 {
  font-family: $title-font, serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: $grey;
  margin-top: 0;
  margin-bottom: 14px;
  line-height: 1.2;
}

.section {
  width: 100%;
  z-index: 1;
  position: relative;
  // border-bottom: 2px solid $black;
}

.section__sidebar {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  color: white;
  //overflow: hidden;
}

.section__sidebar_fixed {
  position: fixed;
  top: 0;
}

.section__content {
  position: relative;
  width: 50%;
  left: 50%;
}

.subsection {
  padding: 100px;
}

.heading-with-text {
  margin-bottom: 64px;
}

.heading-with-text:last-of-type {
  margin-bottom: 0;
}

.graphic-heading-container {
  position: relative;
  width: 100%;
}

.graphic-heading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.73, 0.02, 0.46, 1.39); //cubic-bezier(0.68, 0.01, 0.84, 0.57);
  outline: 1px solid transparent; //hack to prevent aliasing in firefox
}

.graphic-heading--back {
  background: $grey-light;
}

.graphic-heading--front {
  top: 0;
  left: 0;
  background-color: $blue;
}
// before enter anim
.graphic-heading-container.enter-anim--hidden {
  .graphic-heading--back {
    transform: skew(6deg) rotate(-1deg) translate(4px, 0) scale(0, 1);
  }

  .graphic-heading--front {
    transform: skew(6deg) rotate(1deg) translate(-4px, 0) scale(0, 1);
  }
}
//after enter anim
.graphic-heading-container {
  .graphic-heading--back {
    transform: skew(6deg) rotate(-1deg) translate(4px, 0) scale(1, 1);
  }

  .graphic-heading--front {
    transform: skew(6deg) rotate(1deg) translate(-4px, 0) scale(1, 1);
  }
}

// .graphic-heading_scrolling.graphic-heading--back {
//   transform: skew(6deg) rotate(-1deg) translate(8px, 4px);
//   transition: transform 0.3s;
// }

// .graphic-heading_scrolling.graphic-heading--front {
//   transform: skew(6deg) rotate(1deg) translate(-8px, -4px);
//   transition: transform 0.3s;
// }

.graphic-heading__text {
  position: relative;
  display: inline-block;
  color: white;
  margin: 0;
  padding: 8px 16px;
  //width: max-content;
  white-space: nowrap;
}

.graphic-heading-color-container {
  position: relative;
}

@media (max-width: $stacked-sections-max-width),
  (max-height: $stacked-sections-max-height) {
  // because overflow on body doesn't work on mobile
  body {
    overflow-x: unset;
  }

  .site-container {
    overflow-x: hidden;
  }

  .section__sidebar {
    position: relative;
    margin: auto;
    width: auto;
    height: calc(100vh - #{$nav-height});
  }

  .section__content {
    width: 100%;
    left: 0;
  }
}

@media (max-width: $mobile-max-width) {
  html {
    font-size: 0.8rem;
  }

  #next-section-btn {
    bottom: 16px;
  }

  .subsection {
    padding: 60px 40px;
  }
}
