
.header__parallax, .footer__parallax {
    height: 1000px;
    position: absolute;
    width: 100%;
  }
  
  .header,footer {
    height: 1000px;
  }
  
  .parallax0 {
    background-image: url('../../public/images/parallax0.png');
  }
  
  .parallax1 {
    background-image: url('../../public/images/parallax1.png');
  }
  
  .parallax2 {
    background-image: url('../../public/images/parallax2.png');
  }
  
  .parallax3 {
    background-image: url('../../public/images/parallax3.png');
  }
  
  .parallax4 {
    background-image: url('../../public/images/parallax4.png');
  }
  
  .parallax5 {
    background-image: url('../../public/images/parallax5.png');
  }
  
  .parallax6 {
    background-image: url('../../public/images/parallax6.png');
  }
  
  .parallax7 {
    background-image: url('../../public/images/parallax7.png');
  }
  
  .parallax8 {
    background-image: url('../../public/images/parallax8.png');
    position: relative;
  }