$color-footer-bottom: #030305;

.header {
  height: 870px;
}

#footer {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  max-height: 1000px;
  position: relative;
  background: $color-footer-bottom;
}

.header__robynchoi-anim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 90px;
  width: 90%;
  max-width: 1000px;
  opacity: 0.3;
  height: auto;
}

.header__robynchoi-anim_mobile {
  display: none;
}

.footer__anim {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  max-width: 847px;
  min-width: 672px;
  opacity: 0.2;
  height: auto;
}

.footer__anim_mobile {
  display: none;
}

.footer__parallax {
  height: 1080px;
  position: absolute;
  width: 100%;
}

.header__parallax,
.header__overlay {
  height: 1180px;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.header-mobile-image,
.footer-mobile-image {
  display: none;
}

.header__overlay {
  background-image: url('../../public/images/header-overlay.svg');
  z-index: 1;
}

.header__parallax.parallax0 {
  background-image: url('../../public/images/header-0.svg');
}

.header__parallax.parallax1 {
  background-image: url('../../public/images/header-1.svg');
  opacity: 0.5;
}

.header__parallax.parallax2 {
  background-image: url('../../public/images/header-2.svg');
}

.header__parallax.parallax3 {
  background-image: url('../../public/images/header-3.svg');
}

.header__parallax.parallax4 {
  background-image: url('../../public/images/header-4.svg');
}

.header__parallax.parallax5 {
  background-image: url('../../public/images/header-5.svg');
}

.header__parallax.parallax6 {
  background-image: url('../../public/images/header-6.svg');
  z-index: 2;
}

.header__parallax.parallax7 {
  background-image: url('../../public/images/header-7.svg');
  position: relative;
  z-index: 2;
}

.footer__parallax.parallax0 {
  background-image: url('../../public/images/footer-0.svg');
}

.footer__parallax.parallax1 {
  background-image: url('../../public/images/footer-1.svg');
}

.footer__parallax.parallax2 {
  background-image: url('../../public/images/footer-2.svg');
}

.footer__parallax.parallax3 {
  background-image: url('../../public/images/footer-3.svg');
}

.footer__parallax.parallax4 {
  background-image: url('../../public/images/footer-4.svg');
}

.footer__parallax.parallax5 {
  background-image: url('../../public/images/footer-5.svg');
}

.footer__parallax.parallax6 {
  background-image: url('../../public/images/footer-6.svg');
}

@media (min-width: 1921px) {
  .header,
  .footer {
    height: calc(100vw / 1.627 - 300px);
  }

  .header__parallax,
  .header__overlay,
  .footer__parallax {
    width: 100vw;
    height: calc(100vw / 1.627);
    background-size: cover;
  }
}

@media (max-width: 880px) {
  #footer__anim {
    margin-top: 25px;
  }
}

@media (max-width: $mobile-max-width) {
  .header__parallax,
  .footer__parallax,
  .header__overlay {
    display: none;
  }

  .header {
    height: auto;
    background-color: $color-about-background;
    margin-top: -30px;
  }

  .header-mobile-image,
  .footer-mobile-image {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 30px;
    z-index: 2;
  }

  .header__robynchoi-anim_desktop {
    display: none;
  }

  .header__robynchoi-anim_mobile {
    display: block;
    width: 80%;
    margin-top: 30px;
    z-index: 2;
  }

  .footer__anim_desktop {
    display: none;
  }

  .footer__anim_mobile {
    display: block;
    width: 70%;
    min-width: unset;
    margin-top: 24px;
  }
}
