@import "variables.scss";

.nav-container {
  background-color: $orange;
  width: $nav-width;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  transform: translateX(-$nav-width);
  transition: $nav-transition;

  &.nav-container_opened {
    transform: none;
  }
}

.nav {
  width: $nav-width;
  text-align: center;
  font-family: $title-font;
  color: white;

  ul {
    padding: 0;
  }
}

// .nav__btn-container {
//   // position: fixed;
//   // top: 0;
//   // left: 0;
//   // color: white;
//   width: 70px;
//   height: 70px;
//   position: fixed;
//   top: 0;
//   left: 0;
//   background: $orange;
//   z-index: 99;
// }

#nav__btn {
  background: $orange;
  position: fixed;
  z-index: 99;
  height: 60px;
}
