$black: rgb(17, 17, 17);
$grey: #7c7c7c;
$grey-light: rgb(192, 192, 192);
$orange: #e17335;
$blue: #3aa4ce;
$color-about-background: #004b6b;
$title-font: 'Roboto Slab', serif;
$stacked-sections-max-height: 635px;
$stacked-sections-max-width: 1100px;
$mobile-max-width: 740px;
$nav-height: 60px;
