$black: rgb(17, 17, 17);
$grey: #7c7c7c;
$grey-light: rgb(192, 192, 192);
$orange: #e17335;
$blue: rgb(47, 152, 194);
$color-about-background: #004967;
$title-font: 'Roboto Slab', serif;
$stacked-sections-max-height: 635px;
$stacked-sections-max-width: 1100px;
$mobile-max-width: 740px;
