@import 'variables.scss';

$color-work: #2e5c77; // #2e5c77 //#6694af // 5ba7d2
$color-work-heading: rgb(84, 84, 84); //TODO: change to fit color-work

//3E90BE
.section__sidebar_works {
  //background: #ff4a3f;
  //background: #ffaa3f;
  background: $color-work;
  color: $black;
  width: 100%;
}

.section_works {
  background: $color-work;
  overflow: hidden;
}

.section__content.section__content_works {
  left: 0;
  width: auto;
}

.work {
  background: white;
  box-shadow: -8px 8px 16px 0 rgba(0, 0, 0, 0.3);
  height: 96vh;
  margin: 2vh;
  padding: 0;
  position: relative;
  z-index: 99;
  left: 50%;
  will-change: transform;
  backface-visibility: hidden;
  transition: box-shadow 0.2s, transform 1s cubic-bezier(0.32, 0.05, 0.25, 1); //cubic-bezier(.7,0,.3,1);
}

.work:hover {
  box-shadow: -13px 13px 18px 0 rgba(0, 0, 0, 0.4);
  //transform: translateX(-15px);
}

.work_viewing-details {
  transform: translate3d(calc(-50% - 2vh), 0, 0)  !important;
}

.work__image {
  height: 100%;
  width: 50%;
  background-position: center center;
  background-size: cover;
  position: absolute;
  border:none;
  border-right: 2px solid $orange;
  cursor: pointer;
}

// .work__details-button-container {
//   position: relative;
//   left: 50px;
//   top: 50%;
//   transform: translateY(-50%);
// }

.work__details-button {
  color: white;
  background: $orange;
  border: none;
  height: 45px;
  width: 85px;
  transition: all 0.2s;
  cursor: pointer;
  opacity: 0;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work__image:hover .work__details-button,
.work_viewing-details .work__details-button {
  opacity: 1;
}

// .work__details-button:active {
//   opacity: 1;
//   background: $orange;
//   color: white;
//   transition: all 0.03s;
// }

.work__details-button .arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transform: rotate(135deg);
  transition: all 0.03s;
  margin-right:5px;
  //margin-top: 2px;
  //margin-left: 8px;
}

.work__details-button-text {
  display: inline-block;
  font-family: 'Roboto Slab';
  font-size: 1.3rem;
  font-weight: 300;
}

.work_viewing-details .arrow {
  transform: rotate(-45deg);
}

.work__details {
  padding: 100px;
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;
  top: 0;
  overflow-y: scroll;
  border-left: 2px solid $orange;
}

.work__features {
  list-style-type: circle;
}

.work__details .graphic-heading_front {
  background: $color-work-heading;
}

.work__details .subsection:last-child {
  margin-bottom: 64px;
}

.work__technologies {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
}

.work__technology {
  background: $color-work;
  color: white;
  padding: 8px 6px;
  font-size: 1.2em;
  margin-right: 6px;
  margin-bottom: 6px;
}

$cup-svg: '../../public/assets/images/cup.svg';
$cup-png: '../../public/assets/images/cup.png';
$animation-width: 609px;
$animation-height: 342px;
$animation-frames: 4;

#cup-anim__wrapper {
  overflow: hidden;
  position: absolute;
  width: $animation-width * 1.6;
  height: $animation-height * 1.6;
  right: 50%;
  bottom: -86px;
}

#cup-anim {
  width: 400%;
  height: 100%;
  background-image: url('../../public/assets/images/cup.svg');
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

@keyframes cup-spill {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-75%);
  }
}

.sidebar__art-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sidebar__art {
  position: absolute;
}

#headphones {
  width: 607px;
  bottom: 63%;
  left: -206px;
}

#notebook {
  width: 650px;
  bottom: 18%;
  right: 56%;
  z-index: 1;
}

#pencil {
  width: 260px;
  right: 50%;
  top: 12px;

}

#laptop {
  width: 750px;
  transform: rotate(-144deg);
  right: 88%;
  top: 425px;
  z-index: 3;
}

@media (max-height: 824px), (max-width: 1366px) {
  // mobile view
}